/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

/*SHOP*/
*{
    margin:0;
    padding:0;
}

body{
    background-color:#FFF9F5;
}
.items{
    margin-top:200px;
    margin-left:400px;
    margin-right:400px;
    text-align:center;
}

.description{
    display:inline-block;
    background-color:#ffff;
    position:absolute;
    top:20%;
    left:20%;
    transform:translateX(-50%,-50%);
    width:30%;
    height:30%;
}

.description1{
    display:inline-block;
    background-color:#ffff;
    position:absolute;
    top:20%;
    left:60%;
    transform:translateX(-50%,-50%);
    width:30%;
    height:30%;
}

.description2{   
    background-color:#ffff;
    position:absolute;
    top:60%;
    left:20%;
    transform:translateX(-50%,-50%);
    width:30%;
    height:30%;
}
.description3{
    display:inline-block;
    background-color:#ffff;
    position:absolute;
    top:60%;
    left:60%;
    transform:translateX(-50%,-50%);
    width:30%;
    height:30%;
}

h1{
    text-align:center;
    padding-top:10px;
    font-family:"Raleway";
}